In [17]:
import pandas as pd
import numpy as np

df = pd.read_csv("data/bdc_us_fixed_broadband_summary_by_geography_D24_27may2025.csv")
df.head()

/var/folders/pv/386_wnhs3kn06cp1zjbsczv00000gq/T/ipykernel_23378/991470049.py:4: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("data/bdc_us_fixed_broadband_summary_by_geography_D24_27may2025.csv")

,area_data_type,geography_type,geography_id,geography_desc,geography_desc_full,total_units,biz_res,technology,speed_02_02,speed_10_1,speed_25_3,speed_100_20,speed_250_25,speed_1000_100
0,Total,National,99,National,National,164620769,R,Any Technology,1.000000,1.000000,1.000000,0.999915,0.913461,0.591072
1,Total,National,99,National,National,164620769,B,Any Technology,1.000000,1.000000,1.000000,0.993139,0.746524,0.501278
2,Total,National,99,National,National,164620769,R,All Wired,0.942106,0.931728,0.918561,0.908017,0.898754,0.583151
3,Total,National,99,National,National,164620769,B,All Wired,0.829737,0.801457,0.775443,0.728293,0.711937,0.484449
4,Total,National,99,National,National,164620769,R,Any Terrestrial,0.978961,0.971896,0.964742,0.945110,0.913461,0.591072

In [23]:
df_county = df[df["geography_type"] == "County"]
df_county['fips'] = df_county['geography_id'].astype(str).str.zfill(5)
df_county = (
    df_county
    .groupby("fips", as_index=False)["speed_02_02"]
    .mean()
)
len(df_county)

/var/folders/pv/386_wnhs3kn06cp1zjbsczv00000gq/T/ipykernel_23378/1704637301.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_county['fips'] = df_county['geography_id'].astype(str).str.zfill(5)

3232

In [2]:
df = pd.read_csv("data/bdc_us_mobile_broadband_summary_by_geography_D24_27may2025.csv")
df.head()

,area_data_type,geography_type,geography_id,geography_desc,total_area,mobilebb_3g_area_st_pct,mobilebb_3g_area_iv_pct,mobilebb_4g_area_st_pct,mobilebb_4g_area_iv_pct,mobilebb_5g_spd1_area_st_pct,mobilebb_5g_spd1_area_iv_pct,mobilebb_5g_spd2_area_st_pct,mobilebb_5g_spd2_area_iv_pct
0,Total,National,99,National,9.754824e+06,0.061412,0.042772,0.687893,0.458448,0.480186,0.248546,0.371290,0.170436
1,Total,State,1,Alabama,1.370274e+05,0.000000,0.000000,0.946387,0.636515,0.619832,0.301643,0.453981,0.225157
2,Total,State,2,Alaska,1.846753e+06,0.081332,0.053745,0.074291,0.031995,0.017289,0.006168,0.008915,0.003235
3,Total,State,4,Arizona,2.573078e+05,0.070936,0.047557,0.725504,0.338257,0.390434,0.173775,0.311653,0.117987
4,Total,State,5,Arkansas,1.310934e+05,0.000000,0.000000,0.909323,0.522770,0.653088,0.312046,0.464383,0.220165

In [11]:
df_county = df[df["geography_type"] == "County"]
df_county['fips'] = df_county['geography_id'].astype(str).str.zfill(5)
df_county['fips']

/var/folders/pv/386_wnhs3kn06cp1zjbsczv00000gq/T/ipykernel_23378/259003613.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_county['fips'] = df_county['geography_id'].astype(str).str.zfill(5)

57       01001
58       01003
59       01005
60       01007
61       01009
         ...
19649    72151
19650    72153
19651    78010
19652    78020
19653    78030
Name: fips, Length: 12265, dtype: object

In [24]:
df = pd.read_csv("data/county_water_availability_full.csv")
df.head()

,county_fips,county_name,state_fips,major_rivers,tributaries,total_flow_cms,min_flow_cms,availability_score,status,recommendation
0,31039,Cuming,31,1,0,20.642947,20.642947,40.000000,Minimal flow,Hybrid cooling recommended
1,53069,Wahkiakum,53,0,0,0.000000,0.000000,0.000000,No gauge data,Cannot assess
2,35011,De Baca,35,4,0,8.701753,0.000000,58.615776,Adequate major sources,Suitable for direct cooling
3,31109,Lancaster,31,3,6,8.378658,0.004814,78.012784,Adequate major sources,Suitable for direct cooling
4,31129,Nuckolls,31,1,1,2.106770,0.993920,21.067699,Minimal flow,Hybrid cooling recommended

In [ ]:
df['availability_score'].describe()

count     3235.000000
mean       242.102843
std       1347.300040
min          0.000000
25%          0.370101
50%         10.817018
75%         84.551133
max      34129.658546
Name: total_flow_cms, dtype: float64